.commands {
    margin: 0 auto;
    text-align: center;
}

.cloud-providers h2 {
    margin-top: 12rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
    font-weight: normal;
}

section.cloud-providers {
    text-align: center;
    border-radius: 5px 5px 0 0;
    position: relative; left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
}

.cloud-provider-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.provider-logo {
    margin: 0 1.5rem;
}

.provider-hetzner img {
    margin-top: 26px;
}
