.warning {
    max-width: 48rem;
    margin: 0 auto;
    padding: 1rem;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    text-align: center;
    font-size: smaller;
}

.info {
    max-width: 64rem;
    margin: 0 auto;
    padding: 3rem;
    color: #00529b;
    text-align: center;
}
